[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
discord = "*"
discord-py-slash-command = "==1.0.9.5"
pytube = {git = "https://github.com/nficano/pytube"}
yarl = "*"

[dev-packages]

[requires]
python_version = "3.9"
